.header{
    display:flex;
    justify-content: space-between;
    border: 1px solid black;
}
.platform-name{
    color: red;
    
}
.logo{
    width: 100px;
    height:100px;
}
.nav-items{
    padding-inline: 10px;
}
.nav-items>ul{
    font-size: 20px;
    display: flex;
    list-style-type:none;
    
}
.nav-items >ul >li{
    padding: 10px;
    margin:10px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
.res-card{
    padding: 5px;
    margin: 5px;
    width: 200px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    /* height: 350px; */
   
    background-color: rgb(190, 185, 185);
}
.res-card:hover{
    cursor: pointer;
    border:1px solid black;
}
.search{
    padding: 10px;
    cursor:pointer;
    
}
.card-logo{
    width:100%;
    height: 150px

}
.filter{
    margin: 5px;
    /* padding: 10px; */
    
    display: flex;
    /* flex-wrap: wrap; */

}
.filter-btn{
    cursor:pointer;
    flex-wrap: wrap;
    size-adjust: 90%;
}
.search-btn{
    cursor:pointer;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;

}
.shimmer-card{
    padding: 5px;
    margin: 5px;
    width: 200px;
    height: 350px;
   
    background-color: rgb(190, 185, 185);
}
.login-btn{
    cursor: pointer;
    padding: 0 15px;
}

.usercard-container{
    padding: 5px ;
    margin: 5px ;
    width: 100%;
    
    background-color: rgb(190, 185, 185);
}
.about-container{
    padding: 5px;
    margin: 5px;
    width: 100%;
    background-color: aqua;
}